<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000" />
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="WcfServiceLibrary1.Service1" behaviorConfiguration="default">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8744/Design_Time_Addresses/WcfServiceLibrary1/Service1/"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IService1"
                  contract="WcfServiceLibrary1.IService1"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
